body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 320px;
}

img {
  max-width: 100%;
}
